html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.description-cell {
    max-width: 200px;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


.pagination {
    margin: 1rem 0;
    padding: 0.5rem;
}

    .pagination .page-item {
        margin: 0.1rem;
    }

    .pagination .page-link {
        min-width: 2.5rem;
        text-align: center;
        border-radius: 0.25rem;
    }
